extends index.pug

block content 
    <section class="about">
        <div class="about-container">
            <div class="about-heading text-center">
                <h1>About <span>me</span></h1>
            </div>
            <div class="about-pic">
                <div><img src="../static/img/about-developer.png" alt="profile-pic"></div>
            </div>
            <div class="about-content ">
                <div class="about-items text-center" data-aos="zoom-in">
                    <h3>Hey i'm <span>Sawan</span></h3>
                    <p class="about-mp"> I am a passionate <span>Web developer </span>with experties in <span>HTML , CSS, JAVASCRIPT </span>with some knowledge of backend</p>
                </div>
                <div class="about-box ">
                    <div class="box" data-aos="fade-right">
                        <h4>Experience</h4>
                        <p>I have experience of <span>5 months </span>although i am able to create an interactive website </p>
                        <div class="about-button"><button class="btn smbtn">Know more</button>
                        </div>
                    </div>
                    <div class="box" data-aos="fade-down">
                        <h4>Assurity</h4>
                        <p>I believe in creating <span>Attractive and Responsive </span>Website and my main focus is on
                            | giving best value to my client with my work </p>
                        <div class="about-button"><button class="btn smbtn">Know more</button>
                        </div>
                    </div>
                    <div class="box" data-aos="fade-left">
                        <h4>Other Skills</h4>
                        <p>I have pretty much knowledge about some programing language <span>C-programing , C++ developer</span></p>
                        <div class="about-button"><button class="btn smbtn">Know more</button>
                        </div>
                    </div>
                </div>
            <div class="about-items"><p class="about-mp p-down">On this portfolio, you'll find some of my notable projects that showcase my skills and creativity.</p></div> 
            </div>
        </div>
    </section>