extends index.pug

block content
    <main>
        <div class="main">
            <div class="rightcontainer" data-aos="fade-right" data-aos-offset="100"> 
                <div class="up">
                    <p>Hi i am </p><span class="animate__animated animate__flip animate__delay-1s">Sawan</span>
                </div>
                <div class="middle">
                    <h4>Knowledge of </h4><span id="element"></span>
                </div>
                <div class="down text-center">
                    <h5>Elobrating</h5>
                    <p>My mission is to design and develop a website that you and your audience love. My custom-built websites are fast loading, accessible, and easy to manage. My design will helop you improve conversion rates and user engagement</p>
                </div>
                <div class="button">
                <div><button class="btn home-btn margin-right animate__animated animate__zoomIn animate__delay-1s"><a href="contact" target="_blank">Let's talk</a></button></div>
                <div><button class="btn home-btn animate__animated animate__zoomIn animate__delay-1s"><a href="about">Know more</a></button></div>
                </div>
            </div>
            <div class="leftcontainer" data-aos="fade-left">
                <img src="../static/img/developer.png" alt="">
            </div>
        </div>
    </main>