//- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Sawan</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>

<body>
    <header class="header">
        <div class="left">
            <h3><a href="/">Portfolio-SAWAN</a></h3>
        </div>
        <div class="right">
            <nav class="navbar nav-res">
                <ul class="nothing ">
                    <li class="list-item li-res">
                        <a href="/">Home</a>
                    </li>
                    <li class="list-item li-res">
                        <a href="/about">About</a>
                    </li>
                    <li class="list-item li-res">
                        <a href="/skills">Skills</a>
                    </li>
                    <li class="list-item li-res">
                        <a href="/contact" target="_blank">Contact</a>
                    </li>
                    <li class="list-item li-res">
                        <a href="/cv">Dowload-CV</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="res-icon"><ion-icon name="menu" class="bar"></ion-icon><ion-icon class="cross deactive-bar" name="close"></ion-icon></div>
    </header>
    block content
    <footer class="footer ">
        <div class="footeritem">
            <div class="leftfooter">
                <div class="left footer-res">
                    <h1 class="main-heading">Get in touch</h1>
                    <p>example@gmail.com</p>
                    <p>hello@gmail.com</p>
                </div>
                <div class="middle footer-res">
                    <h1>Design services</h1>
                    <p>Front-end Developer : HTML , CSS </p>
                    <p>Designer Str 22</p>
                    <p>10772 , Indore</p>
                </div>
                <div class="right footer-res">
                    <h1>Contact me</h1>
                    <p>(623)-88291009</p>
                    <p>993277(222)</p>
                </div>
            </div>
            <div class="rightfooter">
                <input type="email" placeholder="Enter your Email">
                <button class="btn">Suscribe</button>
            </div>
        </div>
        <div class="line"></div>
        <div class="footerdown">
            <div class="social">
                <p>Social Connection :-</p>
                <div class="icon">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="line"></div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="../static/javascript/index.js"></script>
    <script src="../static/javascript/responsive.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>
</html>