extends index.pug

block content 
    <section class="skills">
        <div class="heading">
            <h2>My Technical Skills</h2>
        </div>
        <div class="skillscontainer text-center">
            <div class="leftskillsitem">
                <div class="item" id="item-1"><ion-icon name="logo-html5"></ion-icon>
                    <div class="width-center">HTML <span>: 90%</span></div>
                    <div class="bar">
                         <span class="html"></span>
                    </div>
                </div>
                <div class="item" id="item-2"><ion-icon name="logo-css3"></ion-icon>
                    <div class="width-center">CSS <span>: 75%</span></div>
                    <div class="bar">
                         <span class="css"></span>
                    </div>
                </div>
                <div class="item" id="item-3"><ion-icon name="logo-javascript"></ion-icon>
                    <div class="width-center">JAVASCRIPT <span>: 50%</span></div>
                    <div class="bar">
                          <span class="javascript"></span>
                    </div>
                </div>
            </div>
            <div class="rightskillsitem">
                <div class="item" id="item-4"><ion-icon name="logo-nodejs"></ion-icon>
                    <div class="width-center">NODE-JS <span>: 60%</span></div>
                    <div class="bar">
                          <span class="nodejs"></span>
                    </div>
                </div>
                <div class="item" id="item-6"><img src="/static/c.png" alt="">
                    <div class="width-center">C programing <span>: 85%</span></div>
                    <div class="bar">
                          <span class="c"></span>
                    </div>
                </div>
                <div class="item" id="item-5"><img src="/static/c++.png" alt="">
                    <div class="width-center">C++ programing <span>: 80%</span></div>
                    <div class="bar">
                          <span class="cp"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>